<div id="game" fxLayout="row">
  <div id="player">
    <h1>Player #</h1>
    <div class="sun-points">0</div>
    <div class="buy-trees">
      <div *ngFor="let i of [3, 2, 1, 0, -1]"
        class="tree tree-{{i}}" 
        [ngDraggable]="true"
        (movingOffset)="onDrag($event)"
        (stopped)="onDrop($event, i)"
        [position]="{x: 0, y: ((3-i) * tileSize)}"
        [preventDefaultEvent]="true"></div>
    </div>
    <button class="next">Next turn</button>
</div>

  <div id="board">
    <div class="tile" 
      *ngFor="let t of tiles"
      [ngStyle]="{top: t.y+'px', left: t.x+'px'}"
      [ngClass]="{glow : sunPos(t.id)}"
      id="tile-{{t.id}}">
      <div class="shadow" [hidden]="!t.shade"></div>
      {{t.id}}
    </div>
  </div>

  <div id="log">
    <div class="message" *ngFor="let l of logger">
      {{l.time}} >> {{l.message}}
    </div>
  </div>
</div>
