<div id="game" fxLayout="row">
  <div id="player">
    <h1>Player #</h1>
    <div class="sun-points">0</div>
    <div *ngFor="let i of [3, 2, 1, 0]"
      class="tree tree-{{i}}" ngDraggable
      (movingOffset)="onDrag($event)"
      (stopped)="onDrop($event)"
      [position]="{x: 0, y: ((3-i) * tileSize)}"
      [preventDefaultEvent]="true"></div>
</div>

  <div id="board">
    <div class="tile tile2" 
      *ngFor="let t of tiles"
      [ngStyle]="{top: t.y+'px', left: t.x+'px'}"></div>

  </div>

  <div id="log">
    <div class="message" *ngFor="let l of logger">
      {{l.time}} >> {{l.message}}
    </div>
  </div>
</div>
