<div id="game" fxLayout="row">
  <cdk-drop cdkDropList #player="cdkDropList" id="player"
  [connectedTo]="board">
    <h1>Player #</h1>
    <div class="sun-points">0</div>
    <div class="tree tree-3"
      cdkDrag 
      (cdkDragStarted)="onDrag()" 
      (cdkDragDropped)="onDrop($event)">3</div>
    <div class="tree tree-2">2</div>
    <div class="tree tree-1">1</div>
    <div class="tree tree-0">0</div>
</cdk-drop>

  <cdk-drop #board id="board">
    <div class="spot spot-4" 
      *ngFor="let p of p4"
      [ngStyle]="{top: p.x+'px', left: p.y+'px'}">{{p.value}},{{p.name}}
    </div>
    
    <div class="spot spot-3" 
      *ngFor="let p of p3"
      [ngStyle]="{top: p.x+'px', left: p.y+'px'}">{{p.value}},{{p.name}}</div>

    <div class="spot spot-2" 
      *ngFor="let p of p2"
      [ngStyle]="{top: p.x+'px', left: p.y+'px'}">{{p.value}},{{p.name}}</div>

    <div class="spot spot-1" 
      *ngFor="let p of p1"
      [ngStyle]="{top: p.x+'px', left: p.y+'px'}">{{p.value}},{{p.name}}</div>

  </cdk-drop>

  <div id="log">
    <div class="message" *ngFor="let l of logger">
      {{l.time}} >> {{l.message}}
    </div>
  </div>
</div>
