$player-info-lg: 300px;
#player {
    min-width: $player-info-lg;
    border: 1px solid #DDD; 
    margin-right: 10px;
}
$tree-size-lg: 136px;
$tree-offset-lg: 5px;
$tree-color-dark: #4F5050;
.tree {
    cursor: grab;
    position: absolute;
    width: $tree-size-lg;
    height: $tree-size-lg;
    border: 3px solid #333;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: $tree-size-lg;
    background-size: 570px !important;
    background-color: #FFF;
    opacity: 0.75;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    &:active {
        cursor: grabbing;
    }
}
.tree-3 {
    background: url('assets/pieces.jpg') -153px 170px;
}
.tree-2 {
    background: url('assets/pieces.jpg') -61px 170px;
}
.tree-1 {
    background: url('assets/pieces.jpg') 21px 170px;
}
.tree-0 {
    background-color: #FFF;
}
.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
 }

$board-size-lg: 1000px;
#board {
    min-width: $board-size-lg;
    min-height: $board-size-lg;
    background-image: url('assets/board.jpg');
    z-index: -2;
}

.tile {
    position: absolute;
    width: $tree-size-lg;
    height: $tree-size-lg;
    border: 3px solid rgba(255, 255, 255, 0.33);
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: $tree-size-lg;
    z-index: -1;
    .shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #33A;
        opacity: 0.66;
        border-radius: 50%;
        z-index: 3;
    }
}

#log {
    min-width: $player-info-lg;
    border: 1px solid #DDD;
    margin-left: 10px;
}
